// Primary Colors
$primary-color: #3498db;
$primary-color-dark: #2980b9;
$primary-color-light: #5dade2;

// Neutral Colors
$white: #ffffff;
$black: #000000;
$gray-light: #D9D9D9;
$gray-dark: #7f8c8d;

// Text Colors
$text-color: $black;
$text-color-light: $gray-dark;
$text-color-inverse: $white;

// Background Colors
$background-color-dark: #1C2420;

// Accent Colors
$accent-color: #e74c3c;
$accent-color-light: #ec7063;
$accent-color-dark: #c0392b;

// Utility Colors
$error-color: $accent-color;
$warning-color: #f39c12;
$info-color: $primary-color;