@use "../abstracts" as *;

main.about {
  padding:30px;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include x-large {
    padding:20px;
  }
  .container{
    flex-direction: column;
    display: flex;
    align-items: center;
    width:100%;
    @include x-large {
      max-width: 1250px;
      flex-direction: row;
    }
    .about-image-section {
      width:100%;
      display:flex;
      flex-direction: column;
      @include medium {
        width: 650px;
      }
      .about-image-container {
        padding-top:20px;
        width:100%;
        height:auto;
        position: relative;
        @include medium {
          width: 650px;
          height: 550px;
        }
        
        .download-cv-btn {
          position:absolute;
          right:0px;
          color:black;
          font-weight: 600;
          padding:5px;
          width:100px;
          border:1px solid rgba(128, 128, 128, 0.39);
          font-size:11px;
          height:50px;
          display:flex;
          align-items: center;
          justify-content: center;
          border-top-right-radius:12px;
          border-bottom-left-radius:12px;
          &:hover {
            color:white;
            background-color: black;
            transition:0.5s;
          }
        }

        img {
          border-radius: 12px;
          width:100%;
          height:100%;
          object-fit: cover;
        }
        div {
          position: absolute;
          bottom:0;
          display: flex;
          width:100%;
          justify-content: space-around;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.5s ease, visibility 0.5s ease;
          a {
            flex:1;
            height:60px;
            display:flex;
            align-items: center;
            justify-content: center;
            color:black;
            font-size: 40px;
            background-color: white;
            border:1px solid rgba(128, 128, 128, 0.39);
          }
          a:first-child {
            border-bottom-left-radius: 12px;

          }
          a:first-child:hover {
            color:white;
            background-color: black;
            transition:0.5s;
          }
          a:last-child {
            border-bottom-right-radius: 12px;
            transition:0.5s;
          }
          a:last-child:hover {
            color:#2596be;
            background-color: black;
            transition:0.5s;
          }
        }
      }
      &:hover div {
        opacity: 1;
        visibility: visible;
      }
    }
    .about-text-section{
      flex:1;
      padding:0px;
      padding-top:10px;
      height:auto;
      max-width:1000px;
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      @include x-large {
        padding:30px;
        align-self: flex-end;
        width:100%;
        height:100%;
        padding-bottom:0;
      }
    }
  }
}