@use "../abstracts" as *;
@use "../components/buttons";

main.projects {
  height:85vh;
  padding:20px;
  padding-left:60px;
  padding-right:120px;
  width:100%;
  display: flex;
  flex-direction: row;

  .left-project-section {
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    aside {
      width: 120px;
      height: 500px;
      position: relative;
      animation: electricChock 2s ease-in;
      animation-delay: 2s;
      border-right: 1px solid $border-color;
      ul {
        height: 100%;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative; 
        animation: moveElementFromRightToZero 2s ease-in;
      
        li {
          transition:0.5s;
          position: relative;
          animation:electricChockElement 2s ease-in;
          animation-delay:2.1s;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -20px; 
            width: 20px; 
            height: 1px;
            background-color: $border-color;
            transform: translateY(-50%);
            opacity: 0; 
            animation: showAfter 0.1s ease-in forwards; 
            animation-delay: 2s; 
          }
        }
        .activated-btn {
          @extend .icon-btn;
          box-shadow: 0 0 7px 3px rgba(0, 151, 178, 1); 
          animation:none;
          left:20px; 
          &::after {
            width:0px;
          }
        }
      }
    }
  }
  .right-project-section {
    flex:1;
    height:100%;
    .project-title-container{
      height:110px;
      display: flex;
      align-items: center;
    }

    .project-main-container{
      height:420px;
      border-radius:12px;
      max-width: 1000px;
      display:flex;
      flex-direction: row;

      .project-img-container {
        width: 1000px;
        height: 420px;
        border: 1px solid white;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        transition:1s;
        position:relative;
        overflow: hidden;
        img {
          object-fit:cover;
          width: 100%;
          height: 100%;
        }
        button {
          background-color: rgba(255, 255, 255, 0.468);
          border:none;
          display:flex;
          align-items: center;
          justify-content: center;
          position:absolute;
          z-index:1;
          color:#e6e6e6;
          border-left:1px solid rgba(0, 0, 0, 0.326);
          width:40px;
          height:100%;
          right:0px;
          top:0px;
          font-size: 40px;
          cursor: pointer;
          transition:1s;
          
          &:hover {
            width:55px;
            transition:1s;
          }
        }
      }
      .minimized-project-img-container{
        transition:1s;
        height:75px;
        width:75px;
        overflow: hidden; 
        margin-right:5px;
        border-radius:12px;
        animation: pulse 1.7s infinite linear;
        cursor:pointer;
        img {
          object-fit:cover;
          width: 100%;
          height: 100%;
        }
      }
      
      .project-content-container {
        border-top-right-radius:12px;
        border-bottom-right-radius:12px;
        padding:10px;
        width:50%;
        border:1px solid $border-color;
        transition:1s;
        display:flex;
        flex-direction: column;
        justify-content: space-between;

        .techStack-container{
          height:50px;
          width:100%;
          p {
            letter-spacing: 1px;
            font-size: 14px;
          }
          ul {
            width:100%;
            display:flex;
            li {
              color:white;
              font-size:30px;
            }
          }
        }
      }
      
      .expanded-project-content-container{
        border-radius:12px;
        padding:10px;
        width:100%;
        border:1px solid $border-color;
        transition:1s;
        p {
          letter-spacing: 1px;
          font-size: 14px;
        }
        ul {
          width:100%;
          display:flex;
          gap:1px;
          li {
            color:white;
            font-size:30px;
          }
        }
      }

    }

    .project-pagination-container {
      padding:30px;
      max-width: 1000px;
      display: flex;
      justify-content: center;
      gap:20px;
      .pagination-btn {
        transition:0.5s;
        cursor:pointer;
        border-radius:12px;
        color:black;
        font-size:17px;
        width:40px;
        height:40px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
        border:none;
      }
      .activated-pagination-btn {
      box-shadow: 0 0 7px 3px rgba(0, 151, 178, 1); 
       @extend .pagination-btn;
        transform: scale(1.1);
      }
    }

  }
}


@keyframes moveElementFromRightToZero {
  0%{
    transform: translateX(-300px);
  }
  80% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes showAfter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes electricChock {
  0% {
    border-right: 1px solid #0097b2;
  }
  100% {
    border-right: 1px solid $border-color;
  }
}

@keyframes electricChockElement {
  0% {
    box-shadow: 0 0 5px 0 rgba(0, 151, 178, 0.8); 
  }
  25% {
    box-shadow: 0 0 7px 3px rgba(0, 151, 178, 1); 
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(0, 151, 178, 1); 
  }
  75% {
    box-shadow: 0 0 7px 3px rgba(0, 151, 178, 1); 
  }
  100% {
    box-shadow: 0 0 5px 0 rgba(0, 151, 178, 0.8); 
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}