@use "../abstracts" as *;


main.projects {
  height:85vh;
  padding:20px;
  padding-left:60px;
  padding-right:60px;
  width:100%;
  display: flex;
  flex-direction: row;

  .left-project-container {
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    aside {
      width: 120px;
      height: 450px;
      border-right: 1px solid white;
      position: relative; /* To position the border more easily */
  
      ul {
        height: 100%;
        width:100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative; /* For positioning ::after pseudo-elements */
  
        li {
          background-color: #D9D9D9;
          height: 50px;
          border-radius: 12px;
          font-size:35px;
          cursor: pointer;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
          transition: 0.5s;
          position: relative; /* For the ::after pseudo-element */
  
          /* Create the line to the right */
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -20px; /* Adjust this value to push the line away */
            width: 20px; /* Length of the line */
            height: 1px;
            background-color: white;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .right-project-container {
    flex:1;
    height:100%;
  }
}