@use "../abstracts" as *;

header {
    border-bottom:1px solid white;
    height:90px;
    width:100%;
    display:flex;
    flex-direction: row;
    

    section {
        width:30%;
        display:flex;
        align-items: center;
        padding-left:20px;
    }
    nav {
        width:60%;
        ul {
        width:80%;
        height:100%;
        display:flex;            
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
            
        li {
            list-style-type: none;
          
            a {
              position: relative; /* Required for absolute positioning of ::after */
              text-decoration: none; /* Remove default underline */
          
              /* Custom underline effect */
              &::after {
                content: ''; /* Required for the pseudo-element */
                position: absolute;
                left: 0;
                bottom: -5px; /* Adjust the space between the text and the underline */
                width: 100%;
                height: 2px; /* Thickness of the underline */
                background-color: $background-color-dark;
                transition: background-color 0.3s; 
              }
          
              &:hover::after {
                background-color: white; /* Color change on hover */
              }
            }
          }
        }
    }
}